DATABASE_URL=postgresql://postgres.<username>:<Password>@aws-1-ap-southeast-1.pooler.supabase.com:5432/<db-name>

JWT_SECRET_KEY=<jwt-secret>

ALLOWED_ORIGINS=http://localhost:5173

AI_URL=<URL ENDPOINT AI>
